<router-outlet />

<swiper-container effect="cards" grab-cursor="true" style="width: 400px;">
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/600/600?random=1" loading="lazy" />
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/600/600?random=2" loading="lazy" />
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/600/600?random=3" loading="lazy" />
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/600/600?random=4" loading="lazy" />
  </swiper-slide>
  <swiper-slide lazy="true">
    <img src="https://picsum.photos/600/600?random=5" loading="lazy" />
  </swiper-slide>
</swiper-container>

<!-- loop="true"
  navigation="true"
  slides-per-view="2"
  speed="500"
  pagination="true" -->
